Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
s="Anjali"
l=[5,6,7,3]
f=56.2
t=(8,6,7,2)
print(type(s))
print(type(l))
print(type(f))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:


(i) var1 = ‘ ‘                                  - string
(ii) var2 = ‘[ DS , ML , Python]’               - error
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]         - List
(iv) var4 = 1.                                  -int

Q3. Explain the use of the following operators using an example:

(i) /     It returns the quotient after dividing the first operand by the second operand. 
          For example, if a = 20, b = 10 => a/b = 2.0
          
(ii) %    It returns the reminder after dividing the first operand by the second operand. 
          For example, if a = 20, b = 10 => a%b = 0
          
(iii) //  It provides the quotient's floor value, which is obtained by dividing the two operands.

(iv) **   As it calculates the first operand's power to the second operand, it is an exponent operator.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
l=[5, "Anjali", 22.5, 65+8j, 700430, "Female", 52.4, 5+6j , 55, 5.5]
for i in l:
    print(i ,type(i))

5 <class 'int'>
Anjali <class 'str'>
22.5 <class 'float'>
(65+8j) <class 'complex'>
700430 <class 'int'>
Female <class 'str'>
52.4 <class 'float'>
(5+6j) <class 'complex'>
55 <class 'int'>
5.5 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [2]:
a=int(input())
b=int(input())
while a%b == 0:
    c=a/b
    print(str(a)+" is divisible by "+str(b)+" in "+ str(c)+" times")
    break
else:
    print("not divisible")

 42
 7

42 is divisible by 7 in 6.0 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [35]:
l=[ 2, 4, 9, 6, 8, 10,12,14,6,354,21,34,56,87,64,49,65,87,35,96,38,23,99,59,77 ]
for i in  l :
    if i%3 == 0:
        print (str(i) + " is divisible by 3") 
    else:
        print(str(i) + " not divisible by 3 ")

2 not divisible by 3
4 not divisible by 3
9 is divisible by 3
6 is divisible by 3
8 not divisible by 3
10 not divisible by 3
12 is divisible by 3
14 not divisible by 3
6 is divisible by 3
354 is divisible by 3
21 is divisible by 3
34 not divisible by 3
56 not divisible by 3
87 is divisible by 3
64 not divisible by 3
49 not divisible by 3
65 not divisible by 3
87 is divisible by 3
35 not divisible by 3
96 is divisible by 3
38 not divisible by 3
23 not divisible by 3
99 is divisible by 3
59 not divisible by 3
77 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

-> Mutable data type is a type of data whose index value can be changed . eg:- list .   
   ImMutable data type is a type of data whose index value can not be changed . eg:- string.