Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
l=[1,2,3,4,5,6,7,8,9,10]
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
# Q3. Create a Pandas DataFrame that contains the following data:
d={"name":["Alice","Bob","Claire"],
   "age":[25,30,27], 
   "Gender":["female" , "male" , "female"]}
pd.DataFrame(d)

     name  age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame. DataFrame is a 2-dimensional labeled data structure with columns of potentially different types

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

read_csv(), describe() , head(),tail(),memory_usage()

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

series,dataframe