Consider following code to answer further questions:

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [9]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

      The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc().

        The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
new_df=df.reindex([3,0,1,2])

In [14]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [13]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

YES, there is a difference iloc gives index location output whereas loc gives the named index output

Consider the below code to answer further questions:

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.894873  0.336510  0.318750  0.178388  0.111117  0.889380
2  0.171567  0.873050  0.929711  0.043903  0.141533  0.192879
3  0.627011  0.610337  0.641171  0.881381  0.408165  0.431241
4  0.959196  0.934381  0.834911  0.961188  0.328494  0.792887
5  0.407610  0.737441  0.304120  0.598814  0.793493  0.468434
6  0.654367  0.941106  0.254786  0.312819  0.404183  0.475464

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

In [22]:
df1.apply(lambda x: x.mean() )

column_1    0.619104
column_2    0.738804
column_3    0.547241
column_4    0.496082
column_5    0.364498
column_6    0.541714
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [52]:
df1.loc[0:6 , ["column_1","column_2"]].std()

column_1    0.295985
column_2    0.234753
dtype: float64

In [53]:
df1.iloc[0:6 , [0,1]].std()

column_1    0.295985
column_2    0.234753
dtype: float64

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

The Window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The Windows functions help us to perform aggregated calculations across various partitions or cross-sections of the data. The aggregate function of SQL returns us a single value after performing the calculation specified in the SQL query.

# Q7. Write a code to print only the current month and year at the time of answering this question.

In [1]:
from datetime import date

In [2]:
date = date.today()

In [6]:
print( "current month :", date.month)

current month : 10

In [7]:
print( "current month :", date.year)

current month : 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [3]:
import pandas as pd

In [22]:
d1 = input('Enter a date in YYYY-MM-DD format')
d2 = input('Enter a date in YYYY-MM-DD format')
date1 = pd.to_datetime(d1)
date2 = pd.to_datetime(d2)
date1 - date2

Enter a date in YYYY-MM-DD format 2023-10-9
Enter a date in YYYY-MM-DD format 2023-10-6

Timedelta('3 days 00:00:00')