# Q1. List any five functions of the pandas library with execution.

read function() , head(), tail(),describe(), info(),shape(), size()

In [1]:
import pandas as pd

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [41]:
Values={"A":[1,20,3,40,5,6],
        "B":[3,4,5,6,7,9],
        "C":[5,10,40,20,30,69]}
df=pd.DataFrame(Values)

In [42]:
df["index"] = range(1,13,2)

In [43]:
df.set_index("index")

        A  B   C
index
1       1  3   5
3      20  4  10
5       3  5  40
7      40  6  20
9       5  7  30
11      6  9  69

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [9]:
def test(x):
    return x.sum()
df.apply(test)

0    21
dtype: int64

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [10]:
data=["python" , "java","c","c++","sql","Dbms"]
df = pd.DataFrame(data)

In [11]:
df["Word_Count"] = df.applymap(lambda x:len(x))

In [27]:
df

        0  Word_Count
0  python           6
1    java           4
2       c           1
3     c++           3
4     sql           3
5    Dbms           4

# Q5. How are DataFrame.size() and DataFrame.shape() different?

The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.

The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.

# Q6. Which function of pandas do we use to read an excel file?

pd.read_excel("")

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [5]:
email ={"email": ["abc@gmail.com" , "xyz@gmail.com" , "sdda@gmail.com"]}
df = pd.DataFrame(email)

In [12]:
df["Username"] = [x.split('@')[0] for x in df['email']]

In [13]:
df

            email Username
0   abc@gmail.com      abc
1   xyz@gmail.com      xyz
2  sdda@gmail.com     sdda

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [31]:
data = {"A":[3,8,6,2,9,8,9],
        "B":[5,2,9,3,1,2,1],
        "C":[1,7,4,5,2,7,2]}
df=pd.DataFrame(data)
df[(df["A"]>5) & (df["B"]<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
5  8  2  7
6  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [32]:
a={"values":[1,20,3,40,5,6]}
df=pd.DataFrame(a)

In [33]:
df.mean()

values    12.5
dtype: float64

In [34]:
df.median()

values    5.5
dtype: float64

In [35]:
df.std()

values    15.05656
dtype: float64

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [5]:
Data={"Sales":[74,356,963,456,799,123,741,852,987,654,321,753,951],"Date":["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05","2023-01-06","2023-01-07","2023-01-08","2023-01-09","2023-01-10","2023-01-11","2023-01-12","2023-01-13"]}

In [7]:
df=pd.DataFrame(Data)

In [9]:
df["MovingAverage"]=df["Sales"].rolling(window=7).mean()

In [10]:
df

    Sales        Date  MovingAverage
0      74  2023-01-01            NaN
1     356  2023-01-02            NaN
2     963  2023-01-03            NaN
3     456  2023-01-04            NaN
4     799  2023-01-05            NaN
5     123  2023-01-06            NaN
6     741  2023-01-07     501.714286
7     852  2023-01-08     612.857143
8     987  2023-01-09     703.000000
9     654  2023-01-10     658.857143
10    321  2023-01-11     639.571429
11    753  2023-01-12     633.000000
12    951  2023-01-13     751.285714

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [12]:
date=["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]

In [28]:
df1=pd.DataFrame(pd.to_datetime(date), columns=["Date"])

In [29]:
df1

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

In [40]:
df1["Weekday"]=df1["Date"].dt.day_name()

In [41]:
df1

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

read_csv()